body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/Images/VR_Background.jpg");*/
    background-size: cover;
    background-color: #4CB6AD;

}

header {
    margin-left: 20%;
    margin-right: 20%;
}


.nav-link {
    width: max-content;
    color: rgba(255, 255, 255, 1) !important;
    font-size: 22px;
}




.topnav .icon {
    display: none;
}

.banner {
    padding-top: 17em;
    padding-bottom: 19em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/Images/VR_Background.jpg");
    background-size: cover;
}

h1 {
    font-size: 70px;
}

h1,
h2 {
    color: white;
    margin: 0;
    width: 100%;
}

.textImages{
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.wBack {
    background-color: white;
    min-height: 15em;
}

.about {
    color: white;
    margin: 5% 0;
}

section {
    padding: 3% 0;
}

section button{
    background-color: #4CB6AD;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

#contact h3 {
    color: white;
}

footer {
    margin-top: 1em;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}

i{
    padding: 2%;
    color: white;
}

footer .col-sm {
    margin-top: auto;
    margin-bottom: auto;
    padding: 2%;
    align-items: center;
}

footer .col-sm p{
    margin-bottom: 0;
}

iframe {
    border-radius: 5px;
}

/*Media queries */
@media only screen and (max-width: 1200px) {
    .navbar-brand {
        text-align: center;
    }

    .navbar-brand img {
        width: 30%;
    }
}

@media only screen and (max-width: 600px) {

    .navbar-brand {
        text-align: center;
    }

    .navbar-brand img {
        width: 60%;
    }

}